body{
    background-color: rgb(107, 65, 65);
}
.titulo{
    color:black;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
#paragrafo{
    font-family: verdana;
    font-size: 20px;
    color:aliceblue;
    text-align: center;
}
 .form-image{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .titulopontospositivos{
    font-family: verdana;
    font-size: 20px;
    color:rgb(10, 29, 46);
    text-align: center;
 }
 .pontospositivos{
    font-family: verdana;
    font-size: 20px;
    color:rgb(5, 253, 88)
 }
 .titulopontosnegativos{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color:rgb(240, 54, 132);
    text-align: center;
 }
 .pontosnegativos{
    font-family: verdana;
    font-size: 20px;
    color:rgb(253, 5, 5)
 }
 a{
   text-decoration: none;
   color: white;
 }
 a:hover{
   background-color: black;
   padding:3px;
   border-radius: 10px;
 }